.total {
	width: 1140px;
	margin: 0 auto;
	padding: 25px 0;
	background: #F1F1F1;
	border-radius: 10px;
}

.total__title {
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 20px;
}

.total__ul-list {
	margin-bottom: 30px;
}

.total__ul-item:not(:last-child) {
	margin-bottom: 10px;
}

