.article {
	padding: 50px 0;
}

.article__title {
	font-weight: 900;
	font-size: 60px;
	line-height: 70px;
	margin-bottom: 30px;
}

.article__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 30px;
}

