.direction {
	padding-top: 25px;
	padding-bottom: 25px;
}

.direction__row:not(:last-child) {
	margin-bottom: 30px;
}

.direction__text {
	display: inline-block;
	vertical-align: top;
}

.direction__text_width_490 {
	width: 490px;
}

.direction__text_width_480 {
	max-width: 480px;
	margin-right: 35px;
}

.direction__img_position_left {
	margin-right: 25px;
}
